.with-sidebar-background {
  position: relative;

  // Sidebar background added as a pseudo-element in the container rather than
  // just put on the sidebar column, so that it extends all the way to the left.
  &:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    z-index: -1;

    @include mobile {
      right: 0;
    }
  }

  .sidebar-column .section {
    @include from($tablet) {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }

  .markdown-column {
    background: white;
  }
}
